{% extends './client_base.html' %}
{% load static %}
{% load sass_tags %}
{% load i18n %} {% load crispy_forms_tags %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'dateSite/css/profile.scss' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dateSite/css/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static "dateSite/css/baguetteBox.min.css" %}">
{% endblock %}

{% block content %}
<section class="hidden-lg-down">
    <div class="row" id="members-content">
        <label class="lbl-see-more">See more...</label>
        {% include 'dateSite/client_list.html' %}
    </div>

    <button class="go-top" id="btn-go-top">
        <img src="{% static 'dateSite/img/icons/up-icon.png' %}"/>
    </button>
</section>

<div class="profile" id="profile-view">
    <div class="edit-profile" id="edit-profile">
        <div class="row">
            <h1 class="title col-xs-9">Edit my profile</h1>
            <a href="{% url 'dateSite:profile' slug=user.username %}" class="col-xs-3">Cancel</a>
        </div>
        <div class="edit-profile-form row">
            <form class="" id="edit-form" method="post" action="{% url 'dateSite:edit_profile' slug=user.username %}" enctype="multipart/form-data">
                <div class="row">
                    <div class="picture-update col-md-4">
                        <div class="pic-edit">
                            <img id="memberpicture_{{ member.clicode }}" src="{{ client.profile_picture }}" alt="{{ member.cliname }}" />
                        </div>
                        <label class="show-pictures">Change my profile picture</label>
                    </div>
                    {% crispy form %}
                </div>
            </form>
        </div>
    </div>
</div>

<div id="profilepicturesModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h3>Select new profile picture</h3>
            </div>
            <div class="modal-body row" id="body-select-pic">
                <label class="msg" id="msg"></label>
                {% if not public_pictures %}
                    <label class="msg">You haven't uploaded any pictures</label>
                {% else %}
                    {% for picture in public_pictures %}
                    <div class="col-xs-6 col-md-3 fill">
                        <img id="{{ picture.piccode }}" src="{{ picture }}" class="thumb" />
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancel">Cancel</button>
                {% if public_pictures %}
                <button type="button" class="btn btn-primary" id="btnYes">Save</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block javascript %}
<script type="text/javascript" src="{% static 'dateSite/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dateSite/js/bootstrap-filestyle.min.js' %}"> </script>


<script>
var percentage, o_album_list, user_pk, client_code, is_me, profilepic_url, delete_album;
var private_collection, gallery_row_heigth, viewer_height, album_length, url_clients;
    $(document).ready(function() {
        percentage = '{{ profile_percentage }}';
        user_pk = '{{ user.pk }}';
        client_code = '{{ member.clicode }}';
        private_collection = '{{ private_collection }}';
        o_album_list = '{{ album_list|safe|escapejs }}';
        profilepic_url = '{% url "dateSite:profile_picture" %}';
        getalbum_url = '{% url "dateSite:get_album" %}';
        getalbums_url = '{% url "dateSite:get_albums" %}';
        deletealbum_url = '{% url "dateSite:delete_album" %}'
        privatealbum_url = '{% url "dateSite:add_private_album" %}';
        album_length = '{{ public_album|length }}';
        url_clients = "{% url 'dateSite:client_list' %}";
        percentage = '{{ profile_percentage }}';
    });

$(function() {
    var d = new Date();
    $("#id_clibirthdate").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1950:" + (d.getFullYear() - 18),
        dateFormat: "yy-mm-dd"
        // You can put more options here.
    });
});
</script>
<script type="text/javascript" src="{% static 'dateSite/js/jquery.removeWhitespace.js' %}"></script>
<script type="text/javascript" src="{% static 'dateSite/js/jquery.collagePlus.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dateSite/js/scrollpagination.js' %}"></script>
<script type="text/javascript" src="{% static 'dateSite/js/profileFunctions.js' %}"></script>
<script type="text/javascript" src="{% static 'dateSite/js/baguetteBox.min.js' %}"></script>
{% endblock %}
