{% extends "./public_base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "About Us" %}{% endblock %}

{% block content %}
<div class="container-fluid subpage">
    <div class="container">
        <div class="row">
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="row">
            <h4>What is Meetlove.com and how is she different?</h4>
            <p>
                Meetlove.com is the fastest and most efficient way to connect with the most beautiful and captivating women from throughout Latin America. As the industry’s leading International Introduction and Romance Tour Company, Meetlove.com differs from mainstream online dating directories given American ownership and operation. This unique collaboration allows Meetlove.com singular insight into the cross cultural dynamics of international dating and has enabled her to provide superior levels of service and effectiveness in her online and live venues since 1993.
            </p>
        </div>
        <div class="row">
            <h4>How does Meetlove.com Work?</h4>
            <p>
                Meetlove.com helps Western men liaison with the best in Latin American women through a network of over 1000 dating agency partners located in cities across Latin American. Meetlove.com brings romantic couples together in a number of ways starting with Search, Email Correspondence and Phone Introduction, then moving to “live” platforms such as organized dates and tours in Latin America.
            </p>
        </div>
        <div class="row">
            <h4>How Does Meetlove.com Deal with Scam and Internet Dating Fraud?</h4>
            <p>
                Meetlove.com stands at the forefront in the industry’s battle against internet scam and fraudulent dating practices. Meetlove.com is proactive in screening and identifying her Ladies while ferreting out those individuals and agencies who attempt to misuse the system.
            </p>
        </div>
        <div class="row">
            <h4>Do Men and Women Find Success at Meetlove.com?</h4>
            <p>
                Each year numerous members find friendships, relationships, love, happiness and marriage on Meetlove.com. Statistics show in the neighborhood of 6000 international marriages a year with a success rate of approximately 80%.
            </p>
        </div>
    </div>
</div>
</section>
{% endblock %}
